.statistics {
  padding: 20px;
  background-color: rgb(234, 235, 235);
  border-radius: 10px;
}

.title {
  font-weight: bold;
  text-align: center;
}

.statsList {
  padding: 0;
  display: flex;
  list-style: none;
}

.item {
  padding: 30px;
  text-align: center;
  display: flex;
  gap: 10px;
  flex-direction: column;
  border-right: 1px solid grey;
}

.item:last-child {
  border: none;
}

.label {
  font-weight: bold;
  border-bottom: 1px solid grey;
  padding-bottom: 10px;
}
